[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"
mypy = "*"
bandit = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
PyYAML = "*"
pylint = "*"
testslide = "*"
requests = "*"
time-machine = "*"

[packages]
fastapi = "*"
pydantic = "*"
python-dotenv = "*"
loguru = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"
backports-zoneinfo = "*"
adafruit-circuitpython-neopixel = "*"

[requires]
python_version = "3.7"
