<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pi Light</title>
</head>
<body>
    <p><strong>Current Time:</strong> {{ current_time }}</p>
    <br>
    <form method="post">
        <label for="mode">Mode:</label>
        <select name="mode" id="mode">
          <option value="Default" {{'selected' if mode == "Default"}}>Single Color</option>
          <option value="Rules" {{'selected' if mode == "Rules"}}>Rules</option>
          <option value="Rainbow" {{'selected' if mode == "Rainbow"}}>Rainbow</option>
        </select>
        <input type="color" name="mode_color"/>
        <input type="range" name="mode_color_brightness" oninput="m1.value = this.value"/>
        <output id="m1">50</output>
        <input type="submit" name="set_mode" value="Set Mode">
    </form>
    <br>
    <p><strong>Rule:</strong> {{ current_rule_str }} <span style="background-color: {{ current_color.hex }}; margin-left: 2px; margin-right: 5px; width: 15px; height: 15px; display: inline-block;"></span>Brightness: {{ current_color.brightness * 100 }}</p>
    <p><strong>Next Rule:</strong> {{ next_rule }}</p>
    <p><strong>Time Until Change:</strong> {{ time_until_change }}</p>
    <form method="post">
        {% for day, day_rules in rules.items() %}
        <fieldset>
        <legend>{{ day.value }}</legend>
            {% for rule in day_rules %}
            <div style="display: inline-block;">
                <input type="checkbox" id="{{ rule.hash }}" name="rule_hashes" value="{{ rule.hash }}"/>
                <label for="{{ rule.hash }}">{{ rule.time_interval() }}</label>
            </div>
            <div style="background-color: {{ rule.start_color.hex }}; margin-left: 3px; margin-right: 5px; width: 12px; height: 12px; display: inline-block;"></div>{{ rule.start_color.brightness * 100 }}
            <div style="background-color: {{ rule.stop_color.hex }}; margin-left: 5px; margin-right: 5px; width: 12px; height: 12px; display: inline-block"></div>{{ rule.stop_color.brightness * 100 }}
            <br>
            {% endfor %}
        </fieldset>
        {% endfor %}
        <input type="submit" name="remove_rule" value="Remove checked rules">
    </form>
    <br>
    <form method="post">
        <select name="day" id="day">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
        <input type="time" name="start_time"/>
        <input type="time" name="stop_time"/>
        <input type="color" name="start_color"/>
        <input type="range" name="start_color_brightness" oninput="r1.value = this.value"/>
        <output id="r1">50</output>
        <input type="color" name="stop_color"/>
        <input type="range" name="stop_color_brightness" oninput="r2.value = this.value"/>
        <output id="r2">50</output>
        <input type="submit" name="add_rule" value="Add rule">
    </form>
</body>
</html>
