<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pi Light</title>
</head>
<body>
    <p>Rule: {{ current_rule_str }}</p>
    <p>Color: <div style="background-color:{{ current_color_hex }}; padding:20px 20px;"></div></p>
    <p>Next Rule: {{ next_rule }}  -  Time Until Change: {{ time_until_change }}</p>
    <form method="post">
        {% for day, day_rules in rules.items() %}
        <fieldset>
        <legend>{{ day.value }}</legend>
            {% for rule in day_rules %}
            <input type="checkbox" id="{{ rule.hash }}" name="rule_hashes" value="{{ rule.hash }}"/>
            <label for="{{ rule.hash }}">{{ rule.time_interval() }}</label><br>
            {% endfor %}
        </fieldset>
        {% endfor %}
        <input type="submit" name="remove" value="Remove checked rules">
    </form>
    <form method="post">
        <select name="day" id="day">
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
          <option value="sunday">Sunday</option>
        </select>
        <input type="time" name="start_time"/>
        <input type="time" name="stop_time"/>
        <input type="color" name="start_color"/>
        <input type="color" name="stop_color"/>
        <input type="submit" name="add" value="Add rule">
    </form>
</body>
</html>
